---
layout: splash
collection: papers
sort_by: pdate
sort_order: reverse
title: Publications
permalink: /publications/
---
<h5>Journal</h5>
<ul>
    {% for paper in site.papers %}
    {% if paper.ptype == "journal" %}
            <li>
                <h5 style="text-align:justify"><a href="{{ paper.url }}">{{ paper.title }}</a></h5>
                <p style="font-size:20px;">{{ paper.publisher }}</p>
            </li>
    {% endif %}
    {% endfor %}
</ul>

<h5>Conference</h5>
<ul>
    {% for paper in site.papers %}
    {% if paper.ptype == "conference" %}
             <li>
                <h5 style="text-align:justify"><a href="{{ paper.url }}">{{ paper.title }}</a></h5>
                <p style="font-size:20px;">{{ paper.publisher }}</p>
            </li>
    {% endif %}
    {% endfor %}
</ul>